#calculator {
    width: 300px;
}

/* main display */
.display {
    /* padding-top: 10px; */
    border: 2px solid grey;
    padding-bottom: 20px;
    padding-left: -20px;
}

.display * {
    margin: auto;
}

/* output and history */
#output p {
    background: lightgreen;
}

#history p {
    background: lightgrey;
    min-height: 24px;
}

#history>p, #output>p {
    width: 250px;
    /* border-top-width: 1px; */
    text-align: right;
    padding-right: 5px;
}

table {
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}

td {
    /* border: 1px solid blue; */
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid black;
}

td:hover{
    background: red;
}